<!doctype html>
<html>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://unpkg.com/htmx.org@1.9.2"></script>
        <script src="https://unpkg.com/hyperscript.org@0.9.9"></script>
    </head>

    <body class="bg-black text-gray-200">
        <header class="p-4">
            <h1 class="text-4xl font-bold">Fly Copilot</h1>
        </header>
        <div id="container" class="p-4">
            <div id="app" class="flex flex-col gap-4">
                <header class="bg-gray-900 rounded-lg border border-gray-800 p-4">
                    <h2 class="text-3xl font-bold">{{ app_name }}</h2>
                </header>
                <div hx-get="/htmx/{{ app_name }}/machines/?sort_by={{ sort_by }}" hx-trigger="load, every 10s"></div>
            </div>
    </body>

</html>